h1 {
    font-family: "Meddon", regular, sans-serif;
}

h1 {
    color: #ffff66
}

p {
    font-family: "Futura", regular, bold, sans-serif;
}

h1 {
  text-align: center;
}

body {
  text-align: center;
}

body {

  background-color: #e6e6e6;
color: #ffffff
}

p { text-align: center;}

p {
  color: #e6e6e6
}
ul {
  text-align: center;
}
h1 {
  color: #e6e6e6
}
